.crysis-categories-section {
  .crysisCategories {
    display: flex;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  }

  .box {
    cursor: pointer;
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
  }

  .box:hover,
  .box:focus,
  .box.selected {
    border-bottom: #ff7a45 solid 2px;
  }

  .focalCrysisBackground {
    background-image: url('../../assets/img/about-epilepsy/focal-crysis.png');
    margin-right: 20px;
  }

  .generalizedCrysisBackground {
    background-image: url('../../assets/img/about-epilepsy/generalized-crysis.png');
  }
}
