.about {
  .about-us-section {
    display: flex;
    flex-direction: column;
  }

  .padding {
    padding: 0px 20px 0px 30px;
  }

  .group-img {
    border-radius: 8px;
  }

  .our-team-title {
    margin: 0 0 20px 0;
  }

  .our-mission-title {
    margin-top: 20px;
  }

  @media only screen and (max-width: 992px) {
    .our-mission-title {
      margin-top: 10px;
    }

    .padding {
      padding: 0px;
    }
  }
}
