.about {
  .padding {
    padding: 0px 20px 0px 30px;
  }

  .group-img {
    border-radius: 8px;
  }

  .margin-bottom {
    margin-bottom: 20px;
  }

  .our-mission-title {
    margin-top: 20px;
  }

  @media only screen and (max-width: 992px) {
    .our-mission-title {
      margin-top: 10px;
    }

    .padding {
      padding: 0px;
    }
  }
}
