.generalized-crysis-type-modal {
  ul {
    padding-left: 10px;

    ul {
      padding-left: 20px;
    }
  }
}

.generalized-crysis-card {
  .ant-card-meta-title {
    font-size: 16px;
  }
  .ant-card-cover {
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 1px 1px 1px;
    img {
      object-fit: contain;
      height: 250px;
      width: 100%;
    }
  }
}
