.home-description {
  width: 60%;
  margin: 0 auto 22.5px auto;
  display: flex;
  font-size: 16px;
}

.home-title {
  font-size: 45px;
  text-align: center;
}

.home-cols {
  padding: 2rem;
  text-align: center;
}

.messages-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.quote-from {
  width: 100%;
  text-align: right;
}

.goToKitButton {
  display: flex;
  justify-content: center;
  align-items: center;

  .linkToKit {
    color: black;
    font-weight: 500;
  }

  .briefcase {
    height: 24px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .home-description {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .home-cols {
    padding: 0 2rem 0 2rem;
    text-align: center;
  }

  .home-grid-divider {
    display: none;
  }

  .messages-container {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .home-description {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 2rem 1rem 2rem;
  }

  .home-title {
    padding: 0 2rem 0 2rem;
  }
}
