.about-epilepsy {
  .ant-image {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .triggersImg {
    width: 250px;
  }

  @media only screen and (max-width: 1200px) {
    .ant-image {
      width: 100% !important;
    }
  }

  @media only screen and (max-width: 576px) {
    .ant-image {
      width: 100% !important;
    }
  }
}
