.section-kit-title {
  width: 70%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid#d3adf7;
  border-top: 2px solid#d3adf7;
}

.section-kit-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%),
    0 2px 4px 0 rgb(0 0 0 / 2%);
}

.section-img {
  max-height: 200px;
  object-fit: contain;
}
