.footer {
  margin-top: 24px;
  height: 75px;
  background-color: rgb(240, 243, 250) !important;
  box-shadow: inset 0 106px 36px -116px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
}
