.adults-impacts {
  .impact-card {
    width: 100%;
    .ant-card-body {
      padding: 10px 0 20px 20px;
    }

    .ant-card-meta-title {
      font-size: 16px;
    }

    .ant-card-cover {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 1px 1px 1px;
      img {
        object-fit: contain;
        height: 200px !important;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    .impact-card {
      .ant-card-meta-title {
        font-size: 14px;
      }
      .ant-card-cover {
        img {
          height: 100px !important;
        }
      }
    }
  }
}
