html {
  direction: initial;
}

body {
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}

.text-justify {
  text-align: justify;
}

.max-viewport-width {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-background {
  background-color: white;
}

.pointer {
  cursor: pointer;
}

.content-container {
  border-radius: 8px;
  margin-top: 20px;
  padding: 1rem;
}

.ant-collapse-content-box {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ant-collapse-header {
  align-items: center !important;

  .ant-collapse-header-text {
    font-size: 17px;
    font-weight: 600;
  }
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

@media only screen and (max-width: 1200px) {
  .max-viewport-width {
    width: auto;
  }

  .margin-page-view {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 576px) {
  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .ant-collapse-header {
    padding: 0 !important;
  }
}
